*{
   
}
.detagli{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100px;
    
}
.biglietto{
   display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    background-color: rgb(255, 183, 183);
    border-radius: 20px;
    border: 2px solid black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    background-color: rgb(255, 183, 183);
    border-radius: 20px;
    border: 2px solid black;
    padding-bottom: 20px;
}
.form-control{
    height: 30px;
    width: 200px;
    border-radius: 20px;
}
#button{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    background-color: dimgray;
    color: white;
    
}
#button:hover{
    background-color: black;
}
b{
    font-size: 20px;
 
    
}
